<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>src/Support/helpers.php</file>
        </exclude>
        <report>
            <clover outputFile="./build/coverage/log/coverage.xml"/>
            <html outputDirectory="./build/coverage/html" lowUpperBound="35" highLowerBound="80"/>
            <text outputFile="./build/coverage/log/coverage.txt" showUncoveredFiles="true" showOnlySummary="true"/>
        </report>
    </coverage>
    <php>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="APP_KEY" value="base64:IRvxzgVXG9MnUTYXdcrUF36qj9ziUzJ4Wzo+AUiZ9d4="/>
        <env name="MS_IMPERSONATE_ROUTE_MIDDLEWARE" value="web"/>
        <env name="MS_IMPERSONATE_ENTER_BUTTON_ICON" value=""/>
        <env name="MS_IMPERSONATE_STOP_BUTTON_ICON" value=""/>
        <ini name="date.timezone" value="UTC" />
        <ini name="intl.default_locale" value="C.UTF-8" />
        <ini name="memory_limit" value="2048M" />
    </php>
</phpunit>
