name: Impersonate Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ci-moonshine-impersonate-${{ github.ref }}-1
  cancel-in-progress: true

permissions:
  contents: read

env:
  extensions: simplexml, mbstring
  tools: composer, laravel/pint, nunomaduro/larastan, pestphp/pest
  ini_values: max_execution_time=180, date.timezone=Europe/Warsaw
  cache_key: php-cache-v1

jobs:
  env-setup:
    timeout-minutes: 15
    if: github.event.pull_request.draft == false
    name: Set Variables
    runs-on: ubuntu-latest
    outputs:
      cache-key: ${{ steps.set-variables.outputs.cache-key }}
      extensions: ${{ steps.set-variables.outputs.extensions }}
      tools: ${{ steps.set-variables.outputs.tools }}
      php-versions: ${{ steps.set-variables.outputs.php_versions }}
      php-version: ${{ steps.set-variables.outputs.php_version }}
    steps:
      - name: Set variables
        id: set-variables
        run: |
          echo "cache-key=${{ env.cache_key }}" >> "$GITHUB_OUTPUT"
          echo "extensions=${{ env.extensions }}" >> "$GITHUB_OUTPUT"
          echo "tools=${{ env.tools }}" >> "$GITHUB_OUTPUT"
          echo "php_versions=['8.2', '8.3', '8.4']" >> "$GITHUB_OUTPUT"
          echo "php_version=['8.2']" >> "$GITHUB_OUTPUT"

  code-style:
    needs: [ env-setup ]
    name: Code Style
    uses: jampire/.github/.github/workflows/_code_style.yml@master
    with:
      php_versions: ${{ needs.env-setup.outputs.php-version }}
      cache_key: ${{ needs.env-setup.outputs.cache-key }}

  code-analyse:
      needs: [ env-setup ]
      name: Code Analyse
      uses: jampire/.github/.github/workflows/_code_analyse.yml@master
      with:
        php_versions: ${{ needs.env-setup.outputs.php-version }}
        cache_key: ${{ needs.env-setup.outputs.cache-key }}

  tests:
    needs: [ env-setup ]
    name: Tests
    uses: jampire/.github/.github/workflows/_tests.yml@master
    with:
      php_versions: ${{ needs.env-setup.outputs.php-versions }}
      cache_key: ${{ needs.env-setup.outputs.cache-key }}
      extensions: ${{ needs.env-setup.outputs.extensions }}
      min_coverage: 100
      type_coverage: 100

  rector:
    needs: [ env-setup ]
    name: Code Rector
    uses: jampire/.github/.github/workflows/_rector.yml@master
    with:
      php_versions: ${{ needs.env-setup.outputs.php-version }}
      cache_key: ${{ needs.env-setup.outputs.cache-key }}
